################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VinhNgo_PurcellPartners_Challenge/.vs/VinhNgo_PurcellPartners_Challenge/FileContentIndex
